<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<link href="/css/index.css" rel="stylesheet"/>
<link href="/css/admin.css" rel="stylesheet"/>
<link href="/css/adminlayout.css" rel="stylesheet"/>
</head>
<body>
	<header th:fragment="catcol">
		<div>
			<div class="left-col-head">
				<p>Kategorie produktów:</p>
			</div>
			<div class="cat-col-list">
				<ul th:each="category:${categories}">
					<li><a th:href="@{/category(categoryId=${category.id})}" th:text="${category.name}"></a>
						<div th:if="${categoriesTree} != null and ${category.id} == ${categoriesTree[0].id}">
							<ul th:each="subcategory1:${categoriesTree[0].subcategories}">
								<li><a class="subcategory" 
									th:href="@{/category(categoryId=${subcategory1.id})}"
									th:text="${subcategory1.name}"></a>
									
						            <div th:if="${treeSize} > 1 and ${categoriesTree[1].id} == ${subcategory1.id}"> 
										<ul th:each="subcategory2:${categoriesTree[1].subcategories}">
											<li><a class="subcategory" 
												th:href="@{/category(categoryId=${subcategory2.id})}"
												th:text="${subcategory2.name}"></a>
												
												<div th:if="${treeSize} > 2 and ${categoriesTree[2].id} == ${subcategory2.id}"> 
													<ul th:each="subcategory3:${categoriesTree[2].subcategories}">
														<li><a class="subcategory" 
															th:href="@{/category(categoryId=${subcategory3.id})}"
															th:text="${subcategory3.name}"></a>
															
															<div th:if="${treeSize} > 3 and ${categoriesTree[3].id} == ${subcategory3.id}"> 
																<ul th:each="subcategory4:${categoriesTree[3].subcategories}">
																	<li><a class="subcategory" 
																		th:href="@{/category(categoryId=${subcategory4.id})}"
																		th:text="${subcategory4.name}"></a>
																	</li>
																</ul>
															</div>
														</li>
													</ul>
												</div>
											</li>
										</ul>
									</div>		
								</li>
							</ul>
						</div>			
					</li>
				</ul>
			</div>
		</div>
	</header>
</body>
</html>