<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8"/>
<link href="/css/index.css" rel="stylesheet"/>
</head>
<body>
	<header th:fragment="header">
		<div id="header">
			<div align="center">
				<div class="header-banner-box">
					<h1 id="center">Sklep Internetowy Mydło i Powidło!</h1>
				</div>
			</div>
		</div>
		<div class="main-buttons-block">
			<div class="main-buttons"><p class="mian-buttons-text"><a th:href="@{/}">Strona główna</a></p></div>
			<div class="main-buttons"><p class="mian-buttons-text"><a th:href="@{/shoppingcard}">Twój koszyk</a></p></div>
			<div sec:authorize="hasAuthority('ADMIN')" class="main-buttons"><p class="mian-buttons-text"><a th:href="@{/admin}">Panel administratora</a></p></div>
			<div sec:authorize="isAuthenticated()" class="main-buttons"><p  class="mian-buttons-text"><a th:href="@{/userpanel}">Panel użytkownika</a></p></div>
			<div class="main-buttons"><p  class="mian-buttons-text"><a th:href="@{/loginform}">Zaloguj się!</a></p></div>
			<div sec:authorize="isAuthenticated()">
				<form action="logout" th:action="@{/logout}"method="post">
					<input class="main-buttons" type="submit"value="Wyloguj"/>
				</form>
			</div>
		</div>
	</header>
</body>
</html>