#status-field{
	font-family:'Copperplate Gothic Light';
	font-size:30;
}
table{
	background-color:#DCDCDC;
	border-color:#2F4F4F;
}
td{
	background-color:#E0FFFF;
}
fieldset{
	width:25%;
	background-color:#E0FFFF;
	border-radius:3px;
}
.choice-block{
	background-color:#DCDCDC;
	border: 2px solid #2F4F4F;
	border-radius:3px;
	width:100%;
	margin-bottom:10px;
}
.delivery-address{
	font-size:20;
}
.choice-inner{
	margin-top:5px;
	margin-bottom:10px;
	padding-bottom:10px;
	font-size:16px;
	text-align:center;
	width:40%;
	border:1px solid grey;
	background-color:#E0FFFF;
	border-radius:3px;
}
.delivery-address-inner{
	margin-top:5px;
	margin-bottom:5px;
	font-size:16px;
	text-align:center;
	width:25%;
	border:1px solid grey;
	background-color:#E0FFFF;
	border-radius:3px;
	
}
.inner-input-form{
	margin-left:10px;	
	margin-bottom:10px;
}
.inner-header{
	border:2px solid black;
	border-radius:3px;
	background-color:#E0FFFF;
	width:100%;
	margin-bottom:8px;
	margin-top:0px;
	padding-bottom:10px;
	padding-top:0px;
}
.button-style{
	input-style-type:none;
	background-color:#556B2F;
	border-radius:5px;
	border: 2px solid #2F4F4F;
	color:white;
	font-weight:bold;
}
.button-buy{
	input-style-type:none;
	background-color:#B22222;
	border-radius:5px;
	border: 2px solid #8B0000;
	color:white;
	font-weight:bold;
}
.text-product-name{
	font-size:20px;
	text-align:center;
	font-weight:bold;
	background-color:#E0FFFF;
	border:2px solid #2F4F4F;
	border-radius:7px;
	width:30%;
}
.active-product-button.true{
	input-style-type:none;
	background-color:#556B2F;
	border-radius:5px;
	border: 2px solid #2F4F4F;
	color:white;
	font-weight:bold;
	margin-bottom:10px;
}
.active-product-button.false{
	input-style-type:none;
	background-color:#B22222;
	border-radius:5px;
	border: 2px solid #8B0000;
	color:white;
	font-weight:bold;
	margin-bottom:10px;
}
.active-product-text.true{
	color:#556B2F;
	font-weight:bold;
}
.active-product-text.false{
	color:#B22222;
	font-weight:bold;
}



