#status-field{
	font-family:'Copperplate Gothic Light';
	font-size:30;
}
table{
	background-color:#DCDCDC;
	border-color:#2F4F4F;
}
td{
	background-color:#E0FFFF;
}
fieldset{
	width:25%;
	background-color:#E0FFFF;
	border-radius:3px;
}
.choice-block{
	background-color:#DCDCDC;
	border: 2px solid #2F4F4F;
	border-radius:3px;
	width:60%;
}