ul{
	list-style-type:none;
}
body{
	font-family:Arial;
	font-weigth:700;
}
.product_name{
	width:250px;
	background-color:#80ff80;
	text-decoration:none;
	text-transform:uppercase;
	border:1px solid #80ff80;
	border-radius:5px;
}
#header{
	display:block;
}
#left{
	float:left;
	width:20%;
	margin:8px;
	border:1px solid black;
	border-radius:5px;
	background-color:#F0FFFF;
	min-height:800px;
}
#inner{
	float:left;
	width:60%;
	margin:8px;
	text-align:center;
	border:1px solid black;
	border-radius:5px;
	min-height:800px;
	background-color:#F0FFFF;
}
#center{
	text-align:center;
}
.category_inner_name{
	text-align:center;
	width:60%;
	font-weight: bold;
	border:1px solid red;
	border-radius:5px;
	background-color:lightyellow;
	text-transform:uppercase;
	font-size:22;
}

