ul{
	list-style-type:none;
}
li{
	list-style-type:none;
}
a{
	text-decoration:none;
	font-weigth:700;
}
input{
	border:1px solid #2F4F4F;
}
body{
	font-family:'Copperplate Gothic Light';
	font-weigth:bold;
	background-color: #dbdbdb;
	padding:0;
	margin:0;
}
#header{
	border:0 solid #ffffff;
	margin-left:0;
	margin-right:0;
	margin-top:5px;
	margin-bottom:5px;
	display:block;
	text-align:center;
	min-height:100px;
	width:100%;
	color:#000;
	font-family:Arial;
	font-size:28px;
	padding:10px;
	background-color:#ffffff;
}

.header-banner-box{
	width:96%;
	border:1px solid #CCC;
	box-shadow:6px 6px 6px -4px #666;
}
.main-buttons-block{
	clear:both;
	display:block;
	padding-bottom:15px;
}
.mian-buttons-text{
	text-decoration:none;
	padding:5px;
	margin:5px;
	text-align: center;
	font-size:16px;
	font-weight:bold;
	color:black;
}
.mian-buttons-text > a{
	text-decoration:none;
	padding:0;
	margin:0;
	color:black;
	align: center;
}
.main-buttons{
	align:center;
	float:left;
	width:15%;
	height:35px;
	padding:1px;
	margin:2px;
	margin-bottom:7px;
	text-decoration:none;
	text-align:center;
	border:1px solid #CCC;
	box-shadow:6px 6px 6px -4px #666;
	background-color:#ffffff;
}
#left{
	clear:both;
	float:left;
	width:24%;
	margin:2px;
	margin-right:3px;
	margin-left:4px;
	padding:0px;
	background-color:#ffffff;
	min-height:655px;
}
#inner{
	float:left;
	width:75%;
	margin:2px;
	margin-right:0;
	padding:0;
	text-align:center;
	min-height:655px;
	background-color:#ffffff;
}
#inner-block{
	display:block;
}
#inner-main-picture{
	float:left;
	padding:20px;
	width:50%;
}
#inner-description{
	float:left;
	padding:20px;
	width:40%;
}
#inner-add-to-order{
	clear:both;
}
.inner-product-list-block{
	padding:0; 
	max-width:945px;
	min-width:315px;
	
}
.inner-product-list{
	list-style-type:none;
	text-align:center;
	align:center;
	float:left;
	display: inline-block;
	margin-left:4px;
	margin-right:0;
	margin-top:5px;
	margin-bottom:5px;
	padding:8px;
	height:230px;
	width:284px;
	border:1px solid #CCC;
	box-shadow:6px 6px 6px -4px #666;
}
.product-name-block{
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;
}
.product_name{
	list-style-type: none;	
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bold;
	font-size:14px;
	color:black;
	border-radius:2px;
	padding-right:3px;
	padding-left:3px;'
}
.product-info-picture{
	clear:both;
	align:center;
	max-height:150px;
	max-width:80%;
}
#center{
	text-align:center;
}
.category_inner_name{
	text-align:center;
	width:60%;
	font-weight: bold;
	border:1px solid red;
	border-radius:5px;
	background-color:lightyellow;
	text-transform:uppercase;
	font-size:22;
}
.text_left{
	clear:both;
	text-align:left;
	margin:5px;
}
img{
	border:1px solid black;
	margin-left:10px;
	margin-top:4px;
	align:center;
}
.image-list{
	float:left;
	margin-right:10px;
	width:120px;
}
.image-list-block{
	text-align:center;
	min-width:50%;
	min-height:110px;
}
.user-form{
	border:3px solid black;
	border-radius:5px;
	font-family:Arial;
	font-size:14px;
	width:70%;
	margin-left:8px;
	margin-bottom:6px;
	background-color:#F0FFFF;
}
.user-form-inside{
	margin-left:8px;
	margin-bottom:6px;
}
.text-sec-header{
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
}
.left-col-head-block{
	border:1px solid #CCC;
	box-shadow:6px 6px 6px -4px #666;
	margin:10px;
	padding:1px;
}
.left-col-head{
	font-size:20px;
	text-align:center;
	font-weight:bold;
	margin-left:5px;
	color:black;
}
.left-col-cat-list-block{
	border:1px solid #CCC;
	box-shadow:6px 6px 6px -4px #666;
	margin:10px;
	padding:0;
	min-height:500px;
}
.cat-col-list > ul > li > a{
	text-decoration:none;
	list-style-type:none;
	text-align:left;
	font-weight:bold;
	color:black;
	margin:0;
}
.cat-col-list > ul{
	text-decoration:none;
	list-style-type:none;
	padding-left:10px;
}
.pagination-block{
	clear: both;
	margin-top:15px;
	padding:10px;
}
.pagination {
	display: inline-block;
}

.pagination a {
	color: black;
	float: left;
	padding: 5px 5px;
	text-decoration: none;
}

.pagination a.active {
	background-color: gray;
	color: white;
	border-radius: 2px;
}
.red-bold{
	color:red;
	font-weight:bold;
}
.subcategory{
	color:black;
	line-height:22px;
	font-size:14px;
	font-weight:bold;
	list-style-type:none;
	margin:0;
	padding-left:0;
}
.user-search-console{
	margin-top:10px;
	margin-bottom:5px;
}
