#center{
	text-align:center;
}
.left-card{
	clear:both;
	float:left;
	width:25%;
	margin:2px;
	padding:0px;
	border:2px solid #2F4F4F;
	border-radius:5px;
	background-color:#F0FFFF;
	min-height:800px;
	
}
.inner-card{
	float:left;
	width:70%;
	margin:2px;
	text-align:center;
	min-height:800px;
}
table{
	background-color:#F0FFFF;
	background-color:lightyellow;
	border-radius:5px;
}
ul{
	list-style-type:none;
}
#header{
	border:3px solid black;
	border-radius:5px;
	display:block;
	text-align:center;
	min-height:100px;
	color:#000;
	font-family:Arial;
	font-size:28px;
	background-color:#F0FFFF;
}