<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link href="/css/index.css" rel="stylesheet" />
<link href="/css/admin.css" rel="stylesheet" />
<link href="/css/adminlayout.css" rel="stylesheet" />
<title>Dodaj producenta</title>
</head>
<body>
	<div th:insert="fragments/header :: header"></div>
	
	<div class="left">
		<div class="left-colum-content">
			<div th:insert="fragments/leftcolumn :: leftcolumn"></div>
		</div>	
	</div>
	<div class="inner">
	<h2 align="center">Dodaj nowego producenta:</h2>
	<div class="choice-block">
		<div class="inner-input-form">
			<form th:action="@{/saveproducer}" method="post"
				th:object="${producer}">
				<p>
					Nazwa producenta:<input type="text" th:field="*{name}" required/>
				</p>
				<p>
					Opis:
					<textarea cols="50" rows="4" th:field="*{description}"></textarea>
				</p>
				<p>
					Strona www producenta:<input type="url" th:field="*{url}" />
				</p>
				<p>
					<input class="button-style" type="submit" value="Dodaj Producenta" />
				</p>
			</form>
		</div>
	</div>
	</div>
</body>
</html>