<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link href="/css/index.css" rel="stylesheet" />
<link href="/css/admin.css" rel="stylesheet" />
<link href="/css/adminlayout.css" rel="stylesheet" />
<title>Strona główna</title>
</head>
<body>
	<div th:insert="fragments/header :: header"></div>
	<p>
		<a th:href="@{/}">Powrót do strony głównej</a>
	</p>
	<p>
		<a th:href="@{/admin}">Panel Administracyjny</a>
	</p>
	<div class="left">
		<div class="left-colum-content">
			<div th:insert="fragments/leftcolumn :: leftcolumn"></div>
		</div>	
	</div>
	<div class="inner">
	<h3>Dodaj produkt do sklepu:</h3>
	<div class="choice-block">
		<div class="inner-input-form">
		<form th:action="@{/save}" method="post" enctype="multipart/form-data">
			<p>
				Nazwa produktu: <input type="text" th:field="${formProduct.name}" />
			</p>
			<p>
				Opis produktu:
				<textarea cols="60" rows="5" th:field="${formProduct.description}"></textarea>
			</p>
			<p>
				Dodaj zdjęcie:
				<input class="button-style" type="file" th:field="${formProduct.multipartFile}"/>
			<p>
				Ilość magazynowa: <input type="number" step="1" min="0"
					th:field="${formProduct.quantity}" />
			</p>
			<p>
				Cena: <input type="number" step="0.01" min="0"
					th:field="${formProduct.price}" /> zł
			</p>
			<p>
				Indeks produktu: <input type="text" th:field="${formProduct.index}" />
			</p>
			<div th:object="${producer}">
				Wybierz producenta: <select required th:field="${formProduct.producerId}"> 
					<option value="">-------------</option>
					<option th:each="producer:${formProduct.producers}"
						th:value="${producer.id}" th:text="${producer.name}">
					</option>
				</select>
			</div>
			<br>
			<p>Lub dodaj nowego:<a th:href="@{/addproducer}"><button class="button-style" th:type="submit">Nowy producent</button></a></p>
			<div th:object="${category}">
				Wybierz kategorię główną produktu: <select
					th:field="${formProduct.categoryId}">
					<option value="">-------------</option>
					<option th:each="category:${formProduct.categories}"
						th:value="${category.id}" th:text="${category.name}"></option>
				</select>
			</div>
			<br>
			<div th:object="${shipment}">
				Wybierz opcję dostawy: <select th:field="${formProduct.shipmentId}">
					<option value="">-------------</option>
					<option th:each="shipment:${formProduct.shipments}"
						th:value="${shipment.id}" th:text="${shipment.name}"></option>
				</select>
			</div>
			<p>
				<input class="button-style" type="submit" value="Dodaj produkt" />
			</p>
		</form>
		</div>
	</div>
	</div>
</body>
</html>