<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Strona główna</title>
</head>
<body>
	<h1>Sklep Internetowy Mydło i Powidło!</h1>
	<h2>*******************************************</h2>
	<h2>Panel Administracyjny</h2>
	<h3>********************************************************</h3>
	<p><a th:href="@{/}">Powrót do strony głównej</a></p>
	<p><a th:href="@{/addproduct}">Dodaj produkt!</a></p>
	<p><a th:href="@{/addproducer}">Dodaj producenta</a></p>
	<p><a th:href="@{/updateproduct}">Zaktualizuj produkt!</a></p>
	
</body>
</html>