<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<link href="/css/index.css" rel="stylesheet"/>
<title>Strona główna</title>
</head>
<body>
	<div th:insert="fragments/header :: header"></div>
	<h2>Panel Administracyjny</h2>
	<h3>********************************************************</h3>
	<p><a th:href="@{/}">Powrót do strony głównej</a></p>
	<p><a th:href="@{/addproduct}">Dodaj produkt!</a></p>
	<p><a th:href="@{/addproducer}">Dodaj producenta</a></p>
	<p><a th:href="@{/addcategory}">Dodaj kategorię</a></p>
	<p><a th:href="@{/chooseproducts}">Zaktualizuj produkt!</a></p>
	<p><a th:href="@{/allorders}">Zamówienia</a></p>
	
</body>
</html>