<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<link href="/css/admin.css" rel="stylesheet"/>
<link href="/css/index.css" rel="stylesheet"/>
<link href="/css/adminlayout.css" rel="stylesheet"/>
<title>Lista zamówień</title>
</head>
<body>
	<div th:insert="fragments/header :: header"></div>
	
	<div class="left">
		<div class="left-colum-content">
			<div th:insert="fragments/leftcolumn :: leftcolumn"></div>
		</div>
	</div>
	<div class="inner">
	<table border="2">
		<tr>
			<th>Nr zamówienia</th>
			<th>Data zamówienia</th>
			<th>Zamawiający</th>
			<th>Wysyłka</th>
			<th>Wartość zamówienia PLN</th>
			<th>Status</th>
			<th>Edytuj</th>
		</tr>
		<tr th:each="order : ${orders}"th:object="${order}" class="canceled-row" th:classappend="*{isCanceled()} ? 'true' : 'false'" >
			<td th:text="*{id}"></td>
			<td th:text="*{getFormattedPurchaseTime()}"></td>
			<td th:text="*{user.getFirstName()} + ' ' + *{user.getLastname()}"></td>
			<td th:text="*{shipment.getName()} + ' '"></td>
			<td th:text="*{totalPrice}"></td>
			<td th:text="*{status}" class="canceled-field" th:classappend="*{isCanceled()} ? 'true' : 'false'"></td>
			<td><a th:href="@{/admin/order/editorder(orderId=*{id})}"><button class="button-style" th:type="submit">Edytuj</button></a></td>
		</tr>
	</table>
		<div align="center">
			<div th:if="${orderPage.totalPages > 0}" class="pagination"
				th:each="pageNumber : ${pageNumbers}">
				<a th:href="@{/allorders/(size=${orderPage.size}, page=${pageNumber})}"
					th:text="${pageNumber}"
					th:class="${pageNumber==orderPage.number + 1} ? active"></a>
			</div>
		</div>
	</div>
</body>
</html>



