<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Dodaj kategorię</title>
</head>
<body>
	<h1>Sklep Internetowy Mydło i Powidło!</h1>
	<h2>*******************************************</h2>
	<h2>Dodaj kategorię</h2>
	<h3>********************************************************</h3>
	<p><a th:href="@{/}">Powrót do strony głównej</a></p>
	<p><a th:href="@{/admin}">Panel Administracyjny</a></p>
	<h2>Dodaj kategorię do bazy sklepu:</h2>
	<form th:action="@{/addcategory}"method="post"th:object="${category}">
		<p>Nazwa kategorii:<input type="text"th:field="*{name}"/></p>
		<p>Opis:<textarea cols="50" rows="4" th:field="*{description}"></textarea></p>
		<p>Kategoria nadrzędna:<input type="number" th:field="*{overridingCategoryId}"/></p>
		<p><input type="submit"value="Dodaj kategorię"/></p>
	</form>
</body>
</html>