<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<link href="/css/index.css" rel="stylesheet"/>
<link href="/css/admin.css" rel="stylesheet"/>
<link href="/css/adminlayout.css" rel="stylesheet"/>
<title th:text="${category.name}"></title>
</head>
<body>
	<div th:insert="fragments/header :: header"></div>
	<div class="main-buttons-block">
		<div class="main-buttons"><p><a th:href="@{/}">Strona główna</a></p></div>
		<div class="main-buttons"><p><a th:href="@{/shoppingcard}">Twój koszyk</a></p></div>
	</div>
	<div id="left">
		<div th:insert="fragments/categorycolumn :: catcol"></div>
	</div>
	<div id="inner">
		<div align="center"><p class="category_inner_name" th:text="${category.name}"></p></div>
		<ul th:each="product : ${productPage.content}">
			<li>********************************************</li>
			<li><a  class="product_name" th:href="@{/product(id=${product.id})}"th:text="${product.name}"></a></li>
			<li><img th:src="@{${product.mainPicture}}"width=100></li>
			<li th:text="'Indeks: ' + ${product.index}">Index produktu</li>
			<li th:text="'Cena: ' + ${product.price} + ' zł'">Cena produktu</li>
			<li>
				<a th:href="@{/product(id=${product.id})}"><input type="button" value="Zobacz szczegóły"/></a>	
			</li>
		</ul>
		<div th:if="${productPage.totalPages > 0}" class="pagination" 
			th:each="pageNumber : ${pageNumbers}">
			<a th:href="@{/(size=${productPage.size}, page=${pageNumber})}" 
				th:text="${pageNumber}"
				th:class="${pageNumber==productPage.number + 1} ? active"></a>		
		</div>
	</div>
	
</body>
</html>