<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8"/>
<link href="/css/index.css" rel="stylesheet"/>
<link href="/css/admin.css" rel="stylesheet"/>
<link href="/css/adminlayout.css" rel="stylesheet"/>
<title>Strona główna</title>
</head>
<body>
	<div th:insert="fragments/header :: header"></div>
	
	<div id="left">
		<div th:insert="fragments/categorycolumn :: catcol"></div>
	</div>
	<div id="inner">   
		<!-- to remove later -->
		<div sec:authorize="isAuthenticated()"><span sec:authentication="name"></span></div>
	
	   
		<div class="user-search-console">	
			<form th:action="@{/usersearch}" method="post">
				<b>Podaj nazwę produktu lub jej fragment:</b>
				<input type="text"th:field="${searchPhrase.phrase}"/>
				<input class="button-style" type="submit"value="Wyszukaj"/>
			</form>
		</div>
		<ul th:each="product : ${productPage.content}">
			<li>********************************************</li>
			<li><a  class="product_name" th:href="@{/product(id=${product.id})}"th:text="${product.name}"></a></li>
			<li><img th:src="@{${product.mainPicture}}"width=100></li>
			<li class="red-bold" th:if="${product.quantity} == 0" th:text="'Produkt niedostępny!'"></li>
			<li th:text="'Indeks: ' + ${product.index}">Index produktu</li>
			<li th:text="'Cena: ' + ${product.price} + ' zł'">Cena produktu</li>
			<li>
				<a th:href="@{/product(id=${product.id})}"><input type="button" value="Zobacz szczegóły"/></a>	
			</li>
		</ul>
		<div th:if="${productPage.totalPages > 0}" class="pagination" 
			th:each="pageNumber : ${pageNumbers}">
			<a th:href="@{/(size=${productPage.size}, page=${pageNumber})}" 
				th:text="${pageNumber}"
				th:class="${pageNumber==productPage.number + 1} ? active"></a>		
		</div>
	</div>
	
</body>
</html>