<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<link href="/css/index.css" rel="stylesheet"/>
<title>Strona główna</title>
</head>
<body>
	<h1>Sklep Internetowy Mydło i Powidło!</h1>
	<h2>*******************************************</h2>
	<p><a th:href="@{/shoppingcard}">Twój koszyk</a></p>
	<p><a th:href="@{/admin}">Panel administratora</a></p>
	<ul th:each="product:${products}">
		
		<li>********************************************</li>
		<li><a  class="product_name" th:href="@{/product(id=${product.id})}"th:text="${product.name}"></a></li>
		<li>
			<ul th:each="picture:${pictures}">
				<li th:if="${product.id}==${picture.product.id}">
					<img th:src="@{${picture.url}}"width=100>
				</li>
			</ul>
		</li>
		<li th:text="'Indeks: ' + ${product.index}">Index produktu</li>
		<li th:text="'Cena: ' + ${product.price} + ' zł'">Cena produktu</li>
		<li>
			<a th:href="@{/product(id=${product.id})}"><input type="button" value="Zobacz szczegóły"/></a>	
		</li>
		
	</ul>
	
</body>
</html>