<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<link href="/css/index.css" rel="stylesheet"/>
<link href="/css/admin.css" rel="stylesheet"/>
<link href="/css/adminlayout.css" rel="stylesheet"/>
<title>Adres do wysyłki</title>
</head>
<body>
	<div th:insert="fragments/header :: header"></div>
	<p><a th:href="@{/}">Powrót do strony głównej</a></p>
	<div id="left">
		<div th:insert="fragments/categorycolumn :: catcol"></div>
	</div>
	<div id="inner">
	<h2 align="center">Adres wysyłki</h2>
	<p class="text-sec-header" align="center" th:text="'Zamówienie nr ' + ${orderId}">Zamówienie nr</p>
	<div align="center" >
	<div class="user-form">
		<div align="left" class="user-form-inside">
			<p class="text-bold-black">Do wysyłki dodaj Twój adres użytkownika:</p>
			<form th:action="@{/useraddrestoorder}" method="post" th:object="${userAddress}">
				<p th:text="'Imię i nazwisko: ' + *{firstName} + ' ' + *{lastName}"></p>
				<p th:text="'Adres: ' + *{street} + ' ' + *{buildingNumber}"></p>
				<p th:text="'Kod pocztowy: ' + *{zipCode} + ' Miejscowość: ' + *{city}"></p>
				<p th:text="'Email: ' + *{email}"></p>
				<p th:text="'Nr telefonu: ' + *{phoneNumber}"></p>
				<input type="hidden" name="addressId" th:value="*{id}"/>
				<input type="hidden" name="orderId" th:value="${orderId}"/>
				<input type="submit" value="Dodaj"/>	
			</form>
		</div>
	</div>
	<div class="user-form">
		<div align="left" class="user-form-inside">
			<p class="text-bold-black">Lub dodaj nowy adres:</p>
			<form th:action="@{/addrestoorder}" method="post" th:object="${address}">
				<p>Imię:<input type="text"th:field="*{firstName}"required/></p>
				<p>Nazwisko:<input type="text"th:field="*{lastName}"required/></p>
				<p>Ulica:<input type="text" th:field="*{street}"required/></p>
				<p>Numer budynku/mieszkania:<input type="text" th:field="*{buildingNumber}"required/></p>
				<p>Kod pocztowy:<input type="text" th:field="*{zipCode}"required/></p>
				<p>Miejscowość:<input type="text" th:field="*{city}"required/></p>
				<p>Telefon kontaktowy:<input type="text" th:field="*{phoneNumber}"required/></p>
				<p>Adres e-mail:<input type="email" th:field="*{email}"/></p>
				<input type="hidden" name="orderId" th:value="${orderId}"/>
				<input type="submit" value="Dodaj"/>	
			</form>
		</div>
	</div>
	</div>
	</div>
</body>