<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<link href="/css/admin.css" rel="stylesheet"/>
<link href="/css/index.css" rel="stylesheet"/>
<link href="/css/adminlayout.css" rel="stylesheet"/>
<title>Admin</title>
</head>
<body>
	<div th:insert="fragments/header :: header"></div>
	
	<div class="left">
		<div class="left-colum-content">
			<div th:insert="fragments/leftcolumn :: leftcolumn"></div>
		</div>
	</div>
	<div class="inner">
	<h2 align="center" class="red-bold">Brak towaru ma magazynie!</h2>
	<h3 align="center" class="red-bold">Wartość przekroczyła stan magazynowy</h3>
		<div align="center" class="red-bold"><a th:href="@{/admin/order/editorder(orderId=${orderId})}">Powrót do edycji zamówienia</a></div>	
	</div>
</body>
</html>




