<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Strona główna</title>
</head>
<body>
	<h1>Sklep Internetowy Mydło i Powidło!</h1>
	<h2>*******************************************</h2>
	<br>
	<h3>********************************************************</h3>
	<h1 th:text="${product.name}">Nazwa Produktu</h1>
	<h3>********************************************************</h3>
	<img th:src="@{${url}}" alt="obrazek" width=300>
	<h3>Opis przedmiotu:</h3>
	<p th:text="${product.description}">Opis produktu</p>
	<p th:text="'Indeks: ' + ${product.index}">Index</p>
	<p th:text="'Cena: ' + ${product.price} + ' zł'">Cena</p>
</body>
</html>