<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<link href="/css/index.css" rel="stylesheet"/>
<link href="/css/admin.css" rel="stylesheet"/>
<link href="/css/adminlayout.css" rel="stylesheet"/>
<title>Strona główna</title>
</head>
<body>
	<div th:insert="fragments/header :: header"></div>
	<div class="main-buttons-block">
		<div class="main-buttons"><p><a th:href="@{/}">Strona główna</a></p></div>
		<div class="main-buttons"><p><a th:href="@{/shoppingcard}">Twój koszyk</a></p></div>
		<div class="main-buttons"><p><a th:href="@{/loginform}">Zaloguj się!</a></p></div>
	</div>
	<div id="left">
		<div th:insert="fragments/categorycolumn :: catcol"></div>
	</div>
	<div id="inner">
		<h1 th:text="${product.name}">Nazwa Produktu</h1>
		
		<a target="popup" th:href="@{/bigpicture(url=${url}, productName=${product.name})}"
				th:onclick="window.open(/*[[@{/bigpicture(url=${url}, productName=${product.name})}]]*/
				, '').focus(); return false">
			<img th:src="@{${url}}" alt="obrazek" width=300>
		</a>
		<div align="center">
			<div align="center" class="image-list-block">
				<ul th:each="picture : ${product.pictures}">
					<li class="image-list">
						<a th:href="@{/product(id=${product.id}, url=${picture.url}, categoryId=${categoryId})}">
							<img th:src="@{${picture.url}}"height=70>
						</a>
					</li>
				</ul>
			</div>
		</div>
	
		
		<div class="text_left">
			<h3 align="center">Opis przedmiotu:</h3>
			<p th:text="${product.description}">Opis produktu</p>
			<p th:text="'Indeks: ' + ${product.index}">Index</p>
			<p th:text="'Producent: ' + ${product.producer.name}">Producent</p>
			<p th:text="'Cena: ' + ${product.price} + ' zł'">Cena</p>
		</div>
		
		<div th:if="${product.quantity} != 0">
			<form th:action="@{/addtoorder}" method="post">
				<input type="hidden" name="productId" th:value="${product.id}"/>
				<p>Ilość: <input type="number" name="addedQuantity"min="0"step="1"/>		
					<button type="submit" value="Add">Dodaj produkt do koszyka</button>
				</p>
			</form>
		</div>
		
		<div align="center"><p class="red-bold"th:if="${product.quantity}==0" th:text="'Chwilowy brak na stanie!'"></p></div>
		
		<div align="center">
			<p class="red-bold" th:if="${product.isAvailable}==false" 
				th:text="'Brak produktu w takiej ilości. Dostępna ilość: ' + ${product.quantity}"></p>
		</div>
	</div>
</body>
</html>