<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link href="/css/index.css" rel="stylesheet" />
<link href="/css/admin.css" rel="stylesheet" />
<link href="/css/adminlayout.css" rel="stylesheet" />
<link href="/css/shoppingcard.css" rel="stylesheet" />
<title>Strona główna</title>
</head>
<body>
	<div th:insert="fragments/header :: header"></div>
	
	<div class="main-buttons-block">
		<div class="main-buttons">
			<p>
				<a th:href="@{/}">Powrót do strony głównej</a>
			</p>
		</div>
	</div>
	
	<div class="left-card">
		<div th:insert="fragments/categorycolumn :: catcol"></div>
	</div>
		
	<div class="inner-card">
			<div class="inner-header">
				<h1 id="center">Twój koszyk zakupowy!</h1>
			</div>
			<div class="choice-block">
			<br>
			<table border="2" align="center">
				<tr>
					<th>Nazwa produktu</th>
					<th>Cena jednostkowa PLN</th>
					<th>Ilość</th>
					<th>Wartość PLN</th>
				</tr>
				<tr th:each="product:${products}" th:object="${product}">
					<td th:text="*{name}"></td>
					<td th:text="*{price}"></td>
					<td th:text="*{addedQuantity}"></td>
					<td th:text="*{summaryCost}"></td>
				</tr>
				<tr>
					<td th:text="'Koszt wysyłki: ' + ${shipment.shipmentCost} + ' zł'"></td>
					<td th:if="${isCashOnDelivery}" th:text="Pobranie"></td>
				</tr>
				<tr>
					<td th:text="'Całkowita suma zamówienia: ' + ${totalCost} + ' zł'"></td>
				</tr>
			</table>
			<br>
				<div align="center">
				<div class="choice-inner">
					<form th:action="@{/setordershipment}" method="post">
						<p>Sposób dostawy:</p>
						<ul>
							<li th:each="shipment:${shipments}" th:object="${shipment}">
								<input type="radio" th:field="*{id}" th:value="*{id}" required> <label
								th:for="*{id}"
								th:text="*{name} + ' - ' + *{shipmentCost} + ' zł '"></label>
							</li>
						</ul>
						<p>Rodzaj płatności:</p>
						<p>
							<label> <input type="radio" name="isCashOnDelivery"
								value="true" required>Pobranie
							</label> <label> <input type="radio" name="isCashOnDelivery" value="false">Przedpłata
							</label>
						</p>
						<p>
							<input class="button-style" type="submit" value="Wybierz dostawę" />
						</p>
					</form>

					<form th:action="@{/sendorder}" method="post">
						<p>Opis do zamówienia:</p>
						<p>
							<textarea cols="45" rows="4" th:field="${order.orderDetails}"></textarea>
						<p>
						<p>
							<button class="button-buy" type="submit" value="Add">Zamawiam i płacę!</button>
						</p>
					</form>
						 <a th:href="@{/clearcard}"><input class="button-style"	type="button" value="Usuń zawartość koszyka" /></a>
						 <br>
				</div>
				</div>
			</div>
	</div>
	
</body>
</html>






