<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link href="/css/index.css" rel="stylesheet" />
<link href="/css/admin.css" rel="stylesheet" />
<link href="/css/adminlayout.css" rel="stylesheet" />
<title>Panel administracyjny - aktualizacja produktu</title>
</head>
<body>
	<div th:insert="fragments/header :: header"></div>
	<p>
		<a th:href="@{/}">Powrót do strony głównej</a>
	</p>
	<p>
		<a th:href="@{/admin}">Panel Administracyjny</a>
	</p>
	
	<div class="left">
		<div class="left-colum-content">
			<div th:insert="fragments/leftcolumn :: leftcolumn"></div>
		</div>
	</div>
	
	<div class="inner">	
		<div class="choice-block">
			<h3 align="center">Zaktualizuj dane produktu:</h3>
			<div align="center">
				<div class="text-product-name"><p th:text="${formProduct.name}">Produkt</p></div>
			</div>
			<div align="center">
				<p class= "active-product-text" th:classappend="${formProduct.isActive()} ? 'true' : 'false'"
					th:text="${formProduct.isActive()} ? 'Produkt aktywny!' : 'Produkt niekatywny!'"></p>
			</div>
			<div align="center">
				<form method="post" th:action="@{/setproductactive}">
				
					<div th:if="${formProduct.isActive()}">
						<input type="hidden" name="isActive" th:value="${!formProduct.isActive()}"/>
						<input type="hidden" name="productId" th:value="${formProduct.id}"/>
					</div>
					
					<div th:if="${!formProduct.isActive()}">
						<input type="hidden" name="isActive"th:value="${!formProduct.isActive()}"/>
						<input type="hidden" name="productId" th:value="${formProduct.id}"/>
					</div>
						
					<input class="active-product-button" th:classappend="${formProduct.isActive()} ? 'true' : 'false'"
						type="submit" th:value="${formProduct.isActive()} ? 'Dezaktywuj produkt' : 'Aktywuj produkt'"/>
				</form>
			</div>
		</div>
		<div class="choice-block">
			<div class="inner-input-form">
				<form enctype="multipart/form-data" method="post" th:action="@{/uploadproductimage}">
					<p>
						Dodaj zdjęcie:
						<input type="hidden" name="productId" th:value="${formProduct.id}"/>
						<input class="button-style" type="file" name="file"/>
						<input class="button-style" type="submit" name="Dodaj"/>
					<p>
				</form>
			</div>
		</div>
		<div class="choice-block">
			<div class="inner-input-form">
				<form th:action="@{/updateProd}" method="post">
					<input type="hidden" th:field="${formProduct.id}" />
					<p>
						Nazwa produktu: <input type="text" th:field="${formProduct.name}" />
					</p>
					<p>
						Opis produktu:
						<textarea cols="60" rows="5" th:field="${formProduct.description}"></textarea>
					</p>
					<p>
						Ilość magazynowa: <input type="number" step="1" min="0"
							th:field="${formProduct.quantity}" />
					</p>
					<p>
						Cena: <input type="number" step="0.01" min="0"
							th:field="${formProduct.price}" /> zł
					</p>
					<p>
						Indeks produktu: <input type="text"
							th:field="${formProduct.index}" />
					</p>
					<p>
						<input class="button-style" type="submit" value="Zaktualizuj" />
					</p>
				</form>
			</div>
		</div>
		<!--  -->
		<div class="choice-block">
			<div class="inner-input-form">
				<h3>Zarządzaj opcjami kategorii:</h3>
				<p class="text-bold-black" th:text="'Kategorie dla produktu: ' + ${formProduct.name} + ':'">Id produktu: brak </p>
				<p class="text-bold-green" th:if="${formProduct.mainCategoryId} !=null" th:text="'Kategoria główna produktu: ' + ${mainCategoryName}">Brak kategorii</p>
				<p class="text-bold-green">Dodatkowe kategorie produktu:</p>
			
				<div class="text-bold-green">
					<ul th:each="cat:${formProduct.categories}">
						<li th:if="${cat.name}!=${mainCategoryName}" th:text="${cat.name}">Lista kategorii produktu</li>
					</ul>
				</div>
				
				<form th:action="@{/setmaincategory}" method="post">	
					<input type="hidden" name="productId" th:value="${formProduct.id}" />	
					<div th:object="${category}">
						Zmień kategorię główną: <select th:field="${category.id}">
							<option value="">-------------</option>
							<option th:each="category:${categories}" th:value="${category.id}"
								th:text="${category.name}"></option>
						</select>
						<input class="button-style" type="submit" value="Zmień" />
					</div>
						<br>
				</form>
				<form th:action="@{/setnewcategory}" method="post">	
					<input type="hidden" name="productId" th:value="${formProduct.id}" />	
					<div th:object="${category}">
						Dodaj dodatkową kategorię: <select th:field="${category.id}">
							<option value="">-------------</option>
							<option th:each="category:${categories}" th:value="${category.id}"
								th:text="${category.name}"></option>
						</select>
						<input class="button-style" type="submit" value="Dodaj" />
					</div>
						<br>
				</form>
				<form th:action="@{/removefromcategory}" method="post">	
					<input type="hidden" name="productId" th:value="${formProduct.id}" />	
					<div th:object="${category}">
						Usuń kategorię: <select th:field="${category.id}">
							<option value="">-------------</option>
							<option th:each="category:${formProduct.categories}" th:value="${category.id}"
								th:text="${category.name}"></option>
						</select>
						<input class="button-style" type="submit" value="Usuń" />
					</div>
						<br>
				</form>
				<br>
			</div>
		</div>
		
		
		<!--  -->
		<div class="choice-block">
			<div class="inner-input-form">
				<h3>Zarządzaj opcjami dostaw:</h3>
				<p th:text="'Sposoby dostawy dla produktu: ' + ${formProduct.name} + ':'">Id produktu: brak </p>
				<ul th:each="shipment:${formProduct.shipments}">
					<li th:text="${shipment.name} + ' - ' + ${shipment.shipmentCost} + ' zł'">Lista możliwych dostaw</li>
				</ul>
				<form th:action="@{/addShipment}" method="post">	
					<input type="hidden" name="productId" th:value="${formProduct.id}" />	
					<div th:object="${shipment}">
						Dodaj nowy sposób dostawy: <select th:field="${shipment.id}">
							<option value="">-------------</option>
							<option th:each="shipment:${shipments}" th:value="${shipment.id}"
								th:text="${shipment.name}"></option>
						</select>
						<input class="button-style" type="submit" value="Dodaj dostawę" />
					</div>
						<br>
				</form>
				<form th:action="@{/dropshipment}" method="post">	
					<input type="hidden" name="productId" th:value="${formProduct.id}" />	
					<div>
						Wybierz dostawę do usunięcia: <select th:field="${shipment.id}">
							<option value="">-------------</option>
							<option th:each="shipment:${formProduct.shipments}" th:value="${shipment.id}" th:text="${shipment.name}"></option>
						</select>
						<input class="button-style" type="submit" value="Usuń dostawę" />
					</div>					
				</form>
				<br>
			</div>
		</div>
	</div>
</body>
</html>