<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link href="/css/index.css" rel="stylesheet" />
<link href="/css/admin.css" rel="stylesheet" />
<link href="/css/adminlayout.css" rel="stylesheet" />
<title>Panel użytkownika</title>
</head>
<body>
	<div th:insert="fragments/header :: header"></div>
	<div class="main-buttons-block">
		<div class="main-buttons"><p><a th:href="@{/}">Strona główna</a></p></div>
		<div class="main-buttons"><p><a th:href="@{/shoppingcard}">Twój koszyk</a></p></div>
	</div>
	<div class="left">
		<div class="left-colum-content">
			<div th:insert="fragments/leftusercolumn :: leftusercolumn"></div>
		</div>	
	</div>
	
	<div class="inner">
		<h2 align="center" th:text="'Witaj ' + ${userDto.firstName} + '!'"></h2>
		
	</div>
		
</body>
</html>